{% extends 'base.html' %}

{% block content %}
<div class="contents">
    {% for post in posts %}
    <div class="post" id="post-{{ post.pk }}">
        <div class="post-header">
            <div class="post-header-wrapper">
                <div style="background-image: url(/media/{{ post.author.img_profile }})" class="post-profile-img img-circle"></div>
                <a href="{% url 'member:user_profile' pk=post.author.pk %}"><strong>{{ post.author }}</strong></a>
                <form action="{% url 'post:post_delete' pk=post.pk %}" method="post">
                    {% csrf_token %}
                    {% if request.user == post.author %}
                    <input type="submit" class="post-delete" value="Delete">
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="post-photo">
            <a href="{% url 'post:post_detail' pk=post.pk %}"><img src="{{ post.photo.url }}" alt="" class="post-photo-img"></a>
        </div>
        <div class="post-content">
            <div class="buttons">
                <ul>
                    <li>
                        <form action="{% url 'post:post_like' pk=post.pk %}" method="post">
                        {% csrf_token %}
                            <input type="submit" value="" class="interact-btn
                    {% if post.pk in liked %}
                            dislike-button
                    {% else %}
                            like-button
                    {% endif %}
                            ">
                         </form>
                    </li>
                    <li><a href="#comment-input-{{ post.pk }}"><div class="interact-btn comment-button"></div></a></li>
                </ul>
            </div>
            <div class="likes">
                {% if post.liked.all|length == 0 %}
                <span>가장 먼저 좋아요를 눌러보세요!</span>
                {% elif post.liked.all|length < 6 %}
                <span>
                <b>
                    {{ post.liked.all|join:", " }}
                </b>
                님이 좋아합니다.
            </span>
                {% else %}
                <span><b>좋아요 {{ post.liked.all.count }}개</b></span>
                {% endif %}
            </div>
            <div class="content">
                <p><a href="{% url 'member:user_profile' pk=post.author.pk %}"><span class="content-author">{{ post.author }} </span></a>{{ post.content }}</p>
            </div>
            <div class="post-comment">
                {% for comment in post.comments.all %}
                <div class="comment">
                    <form action="{% url 'post:comment_delete' pk=post.pk comment_pk=comment.pk %}" method="post">
                        <p>
                            <a href="{% url 'member:user_profile' pk=comment.author.pk %}"><strong>{{ comment.author }} </strong></a>{{ comment.content }}
                            {% csrf_token %}
                            {% if comment.author == request.user %}
                            <input type="submit" class="delete-comment" value="X"><span></span></input>
                            {% endif %}

                        </p>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="created-date">
                {{ post.created_date }}
            </div>
            <div class="post-form">
                <section>
                    <form action="{% url 'post:comment_add' pk=post.pk %}" method="post">
                        {% csrf_token %}
                        <input id="comment-input-{{ post.pk }}" class="comment-input" name="comment" type="text" placeholder="댓글 달기...">
                    </form>
                    <a href=""><div class="options"></div></a>
                </section>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
