.signup-body {
    width: 600px;
    margin: 40px auto;
    border: 1px solid #ddd;
    padding-bottom: 40px;
    border-radius: 3px;
    font-weight: bolder;
    margin-top: 110px;
}

.signup-field {
    display: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin: 10px auto;
    width: 202px;
}

.signup-finished {
    text-align: center;
}

.signup-body .btn {
    margin: 0 auto;
    display: inherit;
    margin-top: 20px;
    width: 184px;
    background-color: rgba(16, 78, 103, 0.17);
    font-weight: bolder;
}

.signup-body h3 {
    text-align: center;
    font-weight: bolder;
}

.signup-body h1 {
    margin-top: 40px;
    font-weight: bolder;
}

.signup-body .no-match {
    text-align: center;
    color: rgb(148, 0, 0);
}

.signup-nav {
    border-top: 1px solid #ddd;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 20px;
}

.signup-nav a {
    transition-duration: 0.2s;
    color: rgb(56, 56, 56);
}

.signup-nav a:hover {
    text-decoration: none;
    color: rgb(45, 119, 180);
}