{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static '403.css' %}">
    <link rel="stylesheet" href="{% static 'post/post_list.css' %}">
    <link rel="stylesheet" href="{% static 'post/post_add.css' %}">
    <link rel="stylesheet" href="{% static 'post/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'member/signup.css' %}">
    <link rel="stylesheet" href="{% static 'member/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'post/post.js' %}"></script>
    <title>Instagram</title>
</head>
<body>
    <div id="insta-head" class="header">
        <div id="insta-head-wrapper" class="header-wrapper">
            <ul class="head-ul">
                <li>
                    <a href="{% url 'post:post_list' %}"><img class="insta-icon" src="https://png.icons8.com/instagram/win10/1600" alt=""><img id="insta-logo" class="insta-logo" src="{% static 'insta-logo.png' %}" alt=""></a>
                </li>
                <li>
                    <div class="icon-wrapper" >
                        {% if user.is_authenticated %}
                        <span class="current-username"><a href="{% url 'member:user_profile' pk=user.pk %}">{{ user.username }}</a></span>
                        <button class="user-list-btn" onclick="document.getElementById('all-users-list').style.display='block'"></button>
                        <a href="{% url 'member:logout' %}"><span class="user-btn login glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
                        {% else %}
                        <a href="{% url 'member:login' %}"><span class="user-btn login glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
                        <a href="{% url 'member:signup' %}"><span class="user-btn signup glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    {% if request.user.is_authenticated %}
    <div class="post-add">
        <a href="{% url 'post:post_add' %}"><img src="{% static 'favicon.png' %}" alt=""></a>
    </div>
    {% else %}
    {% include 'member/login_main.html' %}
    {% endif %}

<div id="all-users-list" class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer1" class="pop-layer">
        <div class="follow-title">
            <span>모든 유저</span>
        </div>
        <div class="pop-container">
            <div class="pop-conts">
                {% for i in all_users %}
                <div class="follow-user">
                    <div style="background-image: url(/media/{{ i.img_profile }})" class="post-profile-img all-users img-circle"></div>
                    <div class="name-wrapper">
                        <span><strong>{{ i.username }}</strong></span>
                        <span>{{ i.nickname }}</span>
                    </div>
                    {% if i not in request.user.following.all %}
                        <a class="btn btn-default" href="{% url 'member:follow_toggle' pk=i.pk %}">팔로우</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'member:follow_toggle' pk=i.pk %}">팔로잉</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button class="popup-close btn btn-default" onclick="document.getElementById('all-users-list').style.display='none'">close</button>
        </div>
    </div>
</div>
</body>
</html>